.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .nav {
    flex-direction: column;
  }
}

.link {
  color: blue;
}

.active {
  color: green;
}
