.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}


@media (min-width: 1000px) {
  .nav {
    flex-direction: row;
  }

  .link {
    background: yellow;
    margin: 2px;
  }
}

.link {
  color: blue;
}

.active {
  color: green;
}
