.frame {
  background: rgba(255, 0, 0, 0.3);
  width: 100%;
}

.series {
  transform: translateY(50px);
  fill: none;
  stroke: green;
}

.axis {
  fill: none;
  stroke: red;
  font-family: monospace;
}

.xAxis {
  transform: translate(0px, 50px);
}

.yAxis {
  transform: translate(100px, 50px);
}

.line {
  stroke: yellow;
}

.label {
  fill: #A00;
  stroke: none;
}
