.frame {
  background: rgba(255, 0, 0, 0.3);
  width: 100%;
}

.series {
  transform: translateY(50px);
  fill: none;
  stroke: green;
}

.axis {
  fill: none;
  stroke: red;
  font-family: monospace;
}

.xAxis {
  composes: axis;
  text-anchor: middle;
  transform: translateY(10px);
}

.yAxis {
  composes: axis;
  transform: translate(30px, 50px);
  text-anchor: end;
}

.line {
  stroke: yellow;
}

.tick {
  stroke: #A0A;
}

.label {
  fill: #A00;
  stroke: none;
}
